---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.png" />
    <title>Logseq Copilot</title>
    <meta property="og:title" content="Logseq Copilot" />
    <meta property="og:type" content="website" />
    <meta
      content="A Browser Extenstion help you connect logseq and browser, building your personal knowledge base easiey."
      name="description"
    />
    <meta
      content="A Browser Extenstion help you connect logseq and browser, building your personal knowledge base easiey."
      property="og:description"
    />
    <meta content="on" name="twitter:dnt" /><meta
      content="on"
      name="twitter:widgets:csp"
    /><meta
      content="https://logseq-copilot.eindex.me/"
      property="og:url"
    /><meta content="Logseq Copilot" property="og:site_name" /><meta
      content="https://eindex.me/favicon.png"
      property="og:image"
    /><meta content="summary" name="twitter:card" /><meta
      content="Logseq Copilot"
      name="twitter:title"
    /><meta
      content="A Browser Extenstion help you connect logseq and browser, building your personal knowledge base easiey."
      property="twitter:description"
    /><meta content="@eindex_li" name="twitter:site" /><meta
      content="@eindex_li"
      name="twitter:creator"
    /><meta content="https://eindex.me/favicon.png" name="twitter:image" /><link
      href="https://twitter.com/@eindex_li"
      rel="me"
    />
    <link href="https://github.com/EINDEX" rel="me" />
    <link rel="webmention" href="https://webmention.io/eindex.me/webmention" />
    <link rel="pingback" href="https://webmention.io/eindex.me/xmlrpc" />
  </head>

  <body>
    <main>
      <article>
        <h1>Logseq Copilot</h1>
        <h2>Connect browser with Logseq</h2>
        <div class="downloads">
          <a
            href="https://chrome.google.com/webstore/detail/logseq-copilot/hihgfcgbmnbomabfdbajlbpnacndeihl"
            ><img src="/chrome.png" />Add to Chrome</a
          >
          <a
            href="https://addons.mozilla.org/en-US/firefox/addon/logseq-copilot/"
            ><img src="/firefox.png" />Add to Firefox</a
          >
          <a
            href="https://microsoftedge.microsoft.com/addons/detail/logseq-copilot/ebigopegbohijaikegebaaboaomaifoi"
            ><img src="/edge.png" />Add to Edge</a
          >
        </div>

        <p>
          <b>Are you also a note-taker with Logseq?</b>
        </p>
        <p>
          <b
            >Are you often frustrated because it's difficult to search through
            your notes when you have too many?</b
          >
        </p>

        <p>
          <b
            >Do you also wish to be able to search your notes while searching on
            browser?</b
          >
        </p>

        <p class="py-4 text-2xl text-white">
          <b>Congratulations! You've come to the right place!</b>
        </p>
        <p>
          Logseq Copilot is a open-source, privacy-first, secure browser
          extension that allows you to conntent with your Logseq in your
          browser.
        </p>
        <p>
          With Logseq Copilot, you can easily building your pkm on Logseq and
          enrich your online search, reading, learning experience.
        </p>
        <p class="py-2 text-xl text-white">
          <b>GIVE IT A TRY! YOU WON'T REGRET IT!</b>
        </p>
        <ul class="main-features">
          <li>
            <span>Search in your browser</span><p>
              Search your Logseq notes when you search in your browser.
            </p>
          </li>
          <li>
            <span>[WIP] Quick Capture with Notes</span><p>
              Record highlights with your idea immediately.
            </p>
          </li>
          <li>
            <span>[WIP] Bring note to tab</span><p>
              Search your Logseq notes by the tabs you are currently using.
            </p>
          </li>
        </ul>
        <a class="github" href="https://github.com/eindex/logseq-copilot"
          ><img src="/github-mark-white.png" />Give a Star</a
        >
      </article>

      <footer>
        <a href="https://eindex.me" rel="me">EINDEX</a> @ 2023 - present
      </footer>
    </main>
  </body>

  <style lang="scss" is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: #01222a;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    body {
      @apply text-white;
      height: 100vh;
      background-color: #01222a;
    }
    main {
      @apply flex flex-col min-h-full items-center;
      margin: auto;
      padding: 1.5rem;
      max-width: 1024px;
    }
    h1 {
      @apply self-center text-6xl font-extrabold mt-24 justify-self-center;
    }

    h2 {
      @apply text-4xl;
      color: #b7d5d5cc;
    }

    article {
      @apply leading-10 flex flex-col items-center;

      p {
        @apply text-gray-300/70 max-w-2xl text-center;
      }
    }

    .downloads {
      @apply py-12 flex flex-row flex-wrap justify-center content-around gap-4 w-full;

      a {
        @apply flex flex-row justify-center items-center shadow-xl rounded-2xl bg-gray-100 h-16 gap-2 text-lg text-white;
        width: 200px;
        min-width: 200px;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        background-color: #195d6c;
        img {
          @apply w-8 h-8;
        }
      }
      a:is(:hover, :focus-within) {
        @apply border-2 border-gray-200 text-black;
      }
      a:is(:hover, :focus-within) {
        @apply text-gray-900;
      }
    }

    ul {
      @apply flex sm:flex-row flex-col flex-wrap list-inside gap-8 w-full content-around justify-around py-8;

      li {
        @apply text-gray-400 sm:w-1/4 w-full flex flex-col;

        span {
          @apply text-white;
        }

        p {
          @apply text-left;
        }
      }
    }

    .github {
      @apply flex flex-row justify-center items-center shadow-xl rounded-2xl bg-gray-100 h-16 gap-2 text-lg text-white;
      width: 200px;
      min-width: 200px;
      transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      background-color: #195d6c;
      img {
        @apply w-8 h-8;
      }
    }

    footer {
      @apply justify-self-center text-sm text-gray-600 self-center pt-12;
    }
  </style>
</html>

<!-- Google tag (gtag.js) -->
<script
  is:inline
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-23WMVW5BP4"
></script>
<script is:raw>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-23WMVW5BP4");
</script>

<script
  is:inline
  async
  defer
  data-website-id="6728c810-c8a8-43ae-b072-4788d1ec7cc9"
  src="https://umami.eindex.me/umami.js"
></script>
